<section class="hero">

    <div class="container hero-content">

        <h1 class="hero-title">
            Explorá los países hispanohablantes de América
        </h1>

        <p class="hero-text">

            Descubrí información detallada, estadísticas
            y gestión completa de países mediante una
            aplicación moderna desarrollada con Node.js,
            Express y MongoDB.

        </p>

        <a href="/countries" class="btn-primary">

            Ver Dashboard

        </a>

    </div>

</section>