<footer class="footer">

    <div class="container footer-content">

        <p>
            © 2026 Países Hispanohablantes.
            Desarrollado por Marcos Batallán.
        </p>

        <ul class="footer-links">

            <li><a href="/">
                <i class="fa-solid fa-house"></i>
                Inicio</a></li>

            <li><a href="/countries">
                <i class="fa-solid fa-earth-americas"></i>
                Países</a></li>

            <li><a href="/about">
                <i class="fa-solid fa-info-circle"></i>
                Acerca</a></li>

        </ul>

    </div>

</footer>