<nav class="navbar">

    <div class="container navbar-content">

        <!-- LOGO -->

        <div class="nav-logo">

            <a href="/">

                <img
                    src="/images/icons/global-icon.png"
                    alt="Logo"
                    class="nav-icon"
                >

                <span>Países Hispanohablantes</span>

            </a>

        </div>

        <!-- BOTÓN MENÚ -->

        <button class="menu-toggle" id="menu-toggle">

            <img
                src="/images/icons/menu-icon.svg"
                alt="Menú"
                class="menu-icon"
            >

        </button>

        <!-- LINKS -->

        <ul 
            class="nav-links"
            id="nav-links"
        >

                <li><a href="/">Inicio</a></li>

                <li><a href="/countries">Países</a></li>

                <li><a href="/contact">Contacto</a></li>

                <li><a href="/about">Acerca</a></li>

        </ul>

    </div>

</nav>