<nav class="navbar">

    <div class="container navbar-content">

        <!-- LOGO -->

        <div class="nav-logo">

            <a href="/">

                <img
                    src="/images/icons/global-icon.png"
                    alt="Logo"
                    class="nav-icon"
                >

                <span>Países Hispanohablantes</span>

            </a>

        </div>

        <!-- BOTÓN MENÚ -->

        <button class="menu-toggle" id="menu-toggle">

            <img
                src="/images/icons/menu-icon.svg"
                alt="Menú"
                class="menu-icon"
            >

        </button>

        <!-- LINKS -->

        <ul 
            class="nav-links"
            id="nav-links"
        >

                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        Inicio
                    </a>
                </li>

                <li>
                    <a href="/countries">
                        <i class="fa-solid fa-earth-americas"></i>
                        Países
                    </a>
                </li>

                <li>
                    <a href="/about">
                        <i class="fa-solid fa-circle-info"></i>
                        Acerca
                    </a>
                </li>

        </ul>

    </div>

</nav>